// THEME COLORS
$primary: #B32122;

$buttonHover: #e0dbdb;
$footerBg: #f7f7f7;
$gray: #F8F9FA;
$sidebarBg: #f8f8f8;
$textDark: #323232;
$sidebarlinkHover: #EDEDF0;
$textActiveLink: #BABABA;
$textPrimary: #212529;
$textSecondary: #707070;
$dividerBg: #E4EAF1;
$productBg: #f4f4f4;
$textShadow: #cdccca;

$Gray-1: #E3DDDD;
$Gray-2: #595959;
$Gray-3: #8B8B8B;
$Gray-4: #BABABA;

// THEME TEXTS
$primaryDark: #0D111B;
$secondaryDark: #3A3A3A;
$grayBg: #F8F8F9;
$lightGrayBg: rgba(242, 245, 248, 0.5);
$activeBg: #F8FAFB;
$authenticationBg: #F9F9F9;
$ourClientBg: #FFEBD2;
$paginatinonText: #191919;
$overlayBg: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$homeImageBg: #F2F2F2;
$timelineBg: #7CD871;

$warningBg: #FFF9CC;
$ratingText: #1E3354;

$cardBg: #FAFCFE;
$errorBorder: rgba(221, 75, 57, 0.4);
$textTitle: #2F2C37;
$textColor: #72809D;
$rateText: #999999;

// TEMPLATE TEXTS
$textDanger: #FF705B;
$textWarning: #EDA02F;
$textBlue: #151875;
$textDesignation: #8A8FB9;
$textAlert: #35425B;
$textDismiss: #0672E5;
$colorText: #26324E;

// DISCOUNT BADGES BG
$percentOffBg: #ED5135;
$freeDeliveryBg: #95CC1F;
$newArrivalBg: #48ACCC;
$checkBoxBg: #4AB247;
$socialBtnBg: #DD4B39;
$socialBtnText: #FFFBF8;
$textTimer: #DB6E56;
$submitBg: #DFE3EA;
$verifyInputBg: #F5F8FA;

$successBg: #DCF8D1;
$dangerBg: #FCE5D0;

// BREADCRUMB COLORS
$breadcrumbActive: #FB2E86;
$porgressBorder: #C4C4C4;

// NORMAL COLORS
$white: white;
$black: black;
$red: #CE371C;
$gold: #FFC000;

// BORDER COLORS
$menu-border: #D0D9E3;
$header-border: #F0F0F0;
$product-border: #FCFCFC;
$input-border: #D0E3F9;

$textFeature: rgba(26, 11, 91, 0.3);