/*------------------------------------*\
    // FONT STYLE VARIABLES
\*------------------------------------*/
$futuraPT: 'FuturaPT';
$montserrat: 'Montserrat';

$font-sizes: ('s10': 10, 's11': 11, 's12': 12, 's13': 13, 's14': 14, 's15': 15, 'base': 16, 's17': 17, 's18': 18, 's20': 20, 's21': 21, 's22': 22, 's24': 24, 's25': 25, 's26': 26, 's29': 29, 's30': 30, 's32': 32, 's35': 35, 's36': 36, 's42': 42, 's45': 45);
$font-styles: ('normal': normal, 'italic': italic, 'oblique': oblique);
$font-weights: ('light': 300, 'normal': normal, 'medium': 500, 'semibold': 600, 'bold': 700);


/*------------------------------------*\
    // FONT STYLE FUNCTIONS
\*------------------------------------*/

// SET FONT-FAMILY
@function family($font-family) {
	@return inspect($value: $font-family);
}

// SET FONT-STYLE
@function style($font-style) {
	@return map-get($font-styles, $font-style);
}

// SET FONT-STYLE
@function size($font-size) {
	@return map-get($font-sizes, $font-size);
}

// SET FONT-WEIGHT
@function weight($font-weight) {
	@return map-get($font-weights, $font-weight);
}

// SET LINE-HEIGHT
@function line-height($line-height, $font-size) {
	@return ($line-height / $font-size);
}

/*------------------------------------*\
    // FONT STYLE MIXINS
\*------------------------------------*/

@mixin font($font-family, $font-style, $font-size, $font-weight, $line-height) {
	font: {
		family: $font-family;
		style: $font-style;
		size: $font-size / $base + rem;
		weight: $font-weight;
	}

	line-height: $line-height;
}

/*------------------------------------*\
		26/10 FONT SIZES
\*------------------------------------*/
@mixin font-26-10-normal {
	@include font(family($poppins),
		style('normal'),
		size('s10'),
		weight('normal'),
		line-height(26, size('s10')));
}