/*------------------------------------*\
    // FONT STYLE VARIABLES
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poiret+One&display=swap');
$futuraPT: 'FuturaPT';
$montserrat: 'Montserrat';

$font-sizes: ('s10': 10, 's11': 11, 's12': 12, 's13': 13, 's14': 14, 's15': 15, 'base': 16, 's17': 17, 's18': 18, 's20': 20, 's21': 21, 's22': 22, 's24': 24, 's25': 25, 's26': 26, 's28': 28, 's29': 29, 's30': 30, 's32': 32, 's35': 35, 's36': 36, 's42': 42, 's45': 45, 's64': 64);
$font-styles: ('normal': normal, 'italic': italic, 'oblique': oblique);
$font-weights: ('light': 300, 'normal': normal, 'medium': 500, 'semibold': 600, 'bold': 700);


/*------------------------------------*\
    // FONT STYLE FUNCTIONS
\*------------------------------------*/

// SET FONT-FAMILY
@function family($font-family) {
	@return inspect($value: $font-family);
}

// SET FONT-STYLE
@function style($font-style) {
	@return map-get($font-styles, $font-style);
}

// SET FONT-STYLE
@function size($font-size) {
	@return map-get($font-sizes, $font-size);
}

// SET FONT-WEIGHT
@function weight($font-weight) {
	@return map-get($font-weights, $font-weight);
}

// SET LINE-HEIGHT
@function line-height($line-height, $font-size) {
	@return ($line-height / $font-size);
}

/*------------------------------------*\
    // FONT STYLE MIXINS
\*------------------------------------*/

@mixin font($font-family, $font-style, $font-size, $font-weight, $line-height) {
	font: {
		family: $font-family;
		style: $font-style;
		size: $font-size / $base + rem;
		weight: $font-weight;
	}

	line-height: $line-height;
}

/*------------------------------------*\
		DISPLAY FONT SIZES
\*------------------------------------*/
@mixin display-1 {
	@include font(family($futuraPT),
		style('normal'),
		size('s64'),
		weight('semibold'),
		line-height(77, size('s64')));
}

/*------------------------------------*\
		HEADINGS FONT SIZES
\*------------------------------------*/
@mixin heading-1 {
	@include font(family($futuraPT),
		style('normal'),
		size('s36'),
		weight('semibold'),
		line-height(48.96, size('s36')));
}

@mixin heading-2 {
	@include font(family($futuraPT),
		style('normal'),
		size('s28'),
		weight('semibold'),
		line-height(38.08, size('s28')));
}

@mixin heading-3 {
	@include font(family($futuraPT),
		style('normal'),
		size('s24'),
		weight('semibold'),
		line-height(32.64, size('s24')));
}

@mixin heading-4 {
	@include font(family($futuraPT),
		style('normal'),
		size('s20'),
		weight('semibold'),
		line-height(27.2, size('s20')));
}

@mixin heading-5 {
	@include font(family($futuraPT),
		style('normal'),
		size('s18'),
		weight('semibold'),
		line-height(24.48, size('s18')));
}

@mixin heading-6 {
	@include font(family($futuraPT),
		style('normal'),
		size('base'),
		weight('semibold'),
		line-height(21.76, size('base')));
}

/*------------------------------------*\
		10/10 FONT SIZES
\*------------------------------------*/
@mixin font-10-10-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s10'),
		weight('normal'),
		line-height(10, size('s10')));
}

@mixin font-10-10-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s10'),
		weight('medium'),
		line-height(10, size('s10')));
}

@mixin font-10-10-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s10'),
		weight('semibold'),
		line-height(10, size('s10')));
}

@mixin font-10-10-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s10'),
		weight('bold'),
		line-height(10, size('s10')));
}

/*------------------------------------*\
		12/12 FONT SIZES
\*------------------------------------*/
@mixin font-12-12-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('normal'),
		line-height(12, size('s12')));
}

@mixin font-12-12-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('medium'),
		line-height(12, size('s12')));
}

@mixin font-12-12-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('semibold'),
		line-height(12, size('s12')));
}

@mixin font-12-12-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('bold'),
		line-height(12, size('s12')));
}

/*------------------------------------*\
		24/12 FONT SIZES
\*------------------------------------*/
@mixin font-24-12-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('normal'),
		line-height(24, size('s12')));
}

@mixin font-24-12-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('medium'),
		line-height(24, size('s12')));
}

@mixin font-24-12-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('semibold'),
		line-height(24, size('s12')));
}

@mixin font-24-12-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s12'),
		weight('bold'),
		line-height(24, size('s12')));
}

/*------------------------------------*\
		14/14 FONT SIZES
\*------------------------------------*/
@mixin font-14-14-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('normal'),
		line-height(14, size('s14')));
}

@mixin font-14-14-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('medium'),
		line-height(14, size('s14')));
}

@mixin font-14-14-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('semibold'),
		line-height(14, size('s14')));
}

@mixin font-14-14-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('bold'),
		line-height(14, size('s14')));
}

/*------------------------------------*\
		24/14 FONT SIZES
\*------------------------------------*/
@mixin font-24-14-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('normal'),
		line-height(24, size('s14')));
}

@mixin font-24-14-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('medium'),
		line-height(24, size('s14')));
}

@mixin font-24-14-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('semibold'),
		line-height(24, size('s14')));
}

@mixin font-24-14-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s14'),
		weight('bold'),
		line-height(24, size('s14')));
}

/*------------------------------------*\
		24/16 FONT SIZES
\*------------------------------------*/
@mixin font-24-16-normal {
	@include font(family($montserrat),
		style('normal'),
		size('base'),
		weight('normal'),
		line-height(24, size('base')));
}

@mixin font-24-16-medium {
	@include font(family($montserrat),
		style('normal'),
		size('base'),
		weight('medium'),
		line-height(24, size('base')));
}

@mixin font-24-16-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('base'),
		weight('semibold'),
		line-height(24, size('base')));
}

@mixin font-24-16-bold {
	@include font(family($montserrat),
		style('normal'),
		size('base'),
		weight('bold'),
		line-height(24, size('base')));
}

/*------------------------------------*\
		28/20 FONT SIZES
\*------------------------------------*/
@mixin font-28-20-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s20'),
		weight('normal'),
		line-height(28, size('s20')));
}

@mixin font-28-20-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s20'),
		weight('medium'),
		line-height(28, size('s20')));
}

@mixin font-28-20-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s20'),
		weight('semibold'),
		line-height(28, size('s20')));
}

@mixin font-28-20-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s20'),
		weight('bold'),
		line-height(28, size('s20')));
}

/*------------------------------------*\
		32/24 FONT SIZES
\*------------------------------------*/
@mixin font-32-24-normal {
	@include font(family($montserrat),
		style('normal'),
		size('s24'),
		weight('normal'),
		line-height(32, size('s24')));
}

@mixin font-32-24-medium {
	@include font(family($montserrat),
		style('normal'),
		size('s24'),
		weight('medium'),
		line-height(32, size('s24')));
}

@mixin font-32-24-semibold {
	@include font(family($montserrat),
		style('normal'),
		size('s24'),
		weight('semibold'),
		line-height(32, size('s24')));
}

@mixin font-32-24-bold {
	@include font(family($montserrat),
		style('normal'),
		size('s24'),
		weight('bold'),
		line-height(32, size('s24')));
}

/*------------------------------------*\
		24/12 FONT SIZES ((FuturaPT))
\*------------------------------------*/
@mixin font-24-14-normal-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s12'),
		weight('normal'),
		line-height(24, size('s12')));
}

@mixin font-24-12-medium-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s12'),
		weight('medium'),
		line-height(24, size('s12')));
}

@mixin font-24-12-semibold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s12'),
		weight('semibold'),
		line-height(24, size('s12')));
}

@mixin font-24-14-bold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s12'),
		weight('bold'),
		line-height(24, size('s12')));
}

/*------------------------------------*\
		24/14 FONT SIZES ((FuturaPT))
\*------------------------------------*/
@mixin font-24-14-normal-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s14'),
		weight('normal'),
		line-height(24, size('s14')));
}

@mixin font-24-14-medium-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s14'),
		weight('medium'),
		line-height(24, size('s14')));
}

@mixin font-24-14-semibold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s14'),
		weight('semibold'),
		line-height(24, size('s14')));
}

@mixin font-24-14-bold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s14'),
		weight('bold'),
		line-height(24, size('s14')));
}

/*------------------------------------*\
		24/15 FONT SIZES ((FuturaPT))
\*------------------------------------*/
@mixin font-24-15-normal-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s15'),
		weight('normal'),
		line-height(24, size('s15')));
}

@mixin font-24-15-medium-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s15'),
		weight('medium'),
		line-height(24, size('s15')));
}

@mixin font-24-15-semibold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s15'),
		weight('semibold'),
		line-height(24, size('s15')));
}

@mixin font-24-15-bold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('s15'),
		weight('bold'),
		line-height(24, size('s15')));
}

/*------------------------------------*\
		24/16 FONT SIZES ((FuturaPT))
\*------------------------------------*/
@mixin font-24-16-normal-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('base'),
		weight('normal'),
		line-height(24, size('base')));
}

@mixin font-24-16-medium-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('base'),
		weight('medium'),
		line-height(24, size('base')));
}

@mixin font-24-16-semibold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('base'),
		weight('semibold'),
		line-height(24, size('base')));
}

@mixin font-24-16-bold-futuraPT {
	@include font(family($futuraPT),
		style('normal'),
		size('base'),
		weight('bold'),
		line-height(24, size('base')));
}