$time: 250ms;
$shadow-1: rgba(0, 0, 0, 0.03);
$shadow-2: rgba(0, 0, 0, 0.07);
$shadow-3: #EDF5F8;
$shadow-4: rgba(0, 0, 0, 0.05);
$shadow-5: rgba(49, 32, 138, 0.05);

$box-shadow-1: 0rem .0625rem .25rem $shadow-1;
$box-shadow-2: 0rem .09375rem 1.125rem $shadow-2;
$box-shadow-3: 0rem .0625rem .75rem $shadow-2;
$box-shadow-4: 0rem .0625rem .125rem $shadow-3;
$box-shadow-5: 0rem 2.5rem 3.125rem $shadow-4;
$box-shadow-6: drop-shadow(0rem .0625rem .25rem $shadow-1);
$box-shadow-7: 0rem .5rem 2.5rem $shadow-5;
$box-shadow-8: 0rem .0625rem .125rem $shadow-3;
$box-shadow-9: 0rem .0625rem .25rem $shadow-1;
$box-shadow-10: $shadow-1 0rem .625rem 1.875rem 0rem;
$text-shadow: 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.66);
$radioShadow: 0 0 0 0.25rem rgba(179, 33, 34, 0.25);