// CONTACT US START

.contact {
    background: $productBg;
    min-height: calc(100vh - 4.25rem);
    @include flex-center;
    overflow: hidden;
    padding: length(48) length(0);

    @include breakpoint(phone768) {
        padding: length(24) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(32);
        background: $white;
        @include radius(10);
        padding: length(24);

        @include breakpoint(phone768) {
            padding: length(24) length(16);
        }

        // CONTACT TITLE START
        .contact-title {
            font-weight: 500;
            color: $textPrimary;
            text-align: center;
            display: none;

            @include breakpoint(phone768) {
                @include heading-2;
                font-weight: 500;
                display: block;
            }

            @include breakpoint(phone359) {
                @include heading-3;
                font-weight: 500;
            }
        }

        // CONTACT DETAILS START
        .contactdetails {
            @include flex-column;
            gap: length(32);
            height: 100%;

            // CONTACT INFO START
            .contactinfo {
                @include flex-column;
                gap: length(32);

                .heading-group {
                    .contactinfo-title {
                        font-weight: 500;
                        color: $textPrimary;
                        text-align: left;
                        display: block;

                        @include breakpoint(phone768) {
                            @include heading-2;
                            font-weight: 500;
                            display: none;
                        }

                        @include breakpoint(phone359) {
                            @include heading-3;
                            font-weight: 500;
                        }
                    }

                    .contactinfo-subtitle {
                        font-weight: 500;
                        color: $textPrimary;
                        text-align: center;
                        display: none;

                        @include breakpoint(phone768) {
                            @include heading-2;
                            font-weight: 500;
                            display: block;
                        }

                        @include breakpoint(phone359) {
                            @include heading-3;
                            font-weight: 500;
                        }
                    }
                }

                .text {
                    @include font-24-16-normal;
                    color: $textPrimary;
                    line-height: 2;
                    text-align: justify;

                    @include breakpoint(phone768) {
                        @include font-24-14-normal;
                        line-height: 2;
                        text-align: center;
                    }

                    @include breakpoint(phone359) {
                        @include font-12-12-normal;
                        line-height: 2;
                    }
                }
            }

            // CONNECT INFO START
            .connect {
                @include flex-column;
                gap: length(12);

                &-info {
                    &-link {
                        @include flex-center-vert;
                        gap: length(12);

                        .icon {
                            background: $buttonHover;
                            @include square(length(40));
                            @include circle;
                            @include flex-center;
                            overflow: hidden;
                            padding: length(4);

                            svg {
                                @include square(length(18));

                                path {
                                    fill: $primary;
                                }
                            }
                        }

                        .text {
                            width: calc(100% - 3.25rem);
                            @include font-24-16-normal;
                            color: $textPrimary;
                            line-height: 2;
                            @include transitions;

                            @include breakpoint(phone768) {
                                @include font-24-14-normal;
                                line-height: 2;
                            }

                            @include breakpoint(phone359) {
                                @include font-12-12-normal;
                                line-height: 2;
                            }
                        }

                        @include hover {
                            .text {
                                color: $primary;
                            }
                        }
                    }

                    .infobox {
                        @include flex-center-vert;
                        gap: length(12);
                        align-items: flex-start;

                        .icon {
                            background: $buttonHover;
                            @include square(length(40));
                            @include circle;
                            @include flex-center;
                            overflow: hidden;
                            padding: length(4);

                            svg {
                                @include square(length(18));

                                path {
                                    fill: $primary;
                                }
                            }
                        }

                        .text {
                            width: calc(100% - 3.25rem);
                            @include font-24-16-normal;
                            color: $textPrimary;
                            line-height: 2;

                            @include breakpoint(phone768) {
                                @include font-24-14-normal;
                                line-height: 2;
                            }

                            @include breakpoint(phone359) {
                                @include font-12-12-normal;
                                line-height: 2;
                            }
                        }
                    }
                }
            }
        }

        // CONTACT CONTENT START
        .contactcontent {

            // CONTACT FORM START
            .contactform {
                @include flex-column;
                gap: length(32);

                @include breakpoint(phone768) {
                    gap: length(20);
                }

                .inputbox {
                    @include flex-column;
                    gap: length(8);

                    .form-floating {
                        .form-control {
                            @include font-24-16-normal;
                            color: $textPrimary;
                            @include transitions;

                            @include breakpoint(phone768) {
                                @include font-24-14-normal;
                            }

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                border-color: $textColor;
                            }
                        }

                        .form-label {
                            @include font-24-16-normal;
                            color: $textColor;

                            @include breakpoint(phone768) {
                                @include font-24-14-normal;
                            }
                        }

                        .messagebox {
                            min-height: length(140);
                        }
                    }

                    .error-message {
                        @include font-14-14-medium;
                        line-height: 2;
                        color: $primary;
                        display: none;

                        @include breakpoint(phone768) {
                            @include font-12-12-medium;
                            line-height: 2;
                        }
                    }

                    &.error {
                        .form-floating {
                            .form-control {
                                border-color: $primary;
                            }
                        }

                        .error-message {
                            display: block;
                        }
                    }
                }

                .submitbox {
                    @include flex-end;
                }
            }
        }

        .orderdown {
            @include breakpoint(phone768) {
                order: 1;
            }
        }

        .orderup {
            @include breakpoint(phone768) {
                order: 0;
                margin-bottom: length(32);
            }
        }
    }
}

// CONTACT US  END