@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT/FuturaPT-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url("../fonts/FuturaPT/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT/FuturaPT-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*------------------------------------*\
    // FONT STYLE VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    // FONT STYLE FUNCTIONS
\*------------------------------------*/
/*------------------------------------*\
    // FONT STYLE MIXINS
\*------------------------------------*/
/*------------------------------------*\
		10/10 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		12/12 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		24/12 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		14/14 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		24/14 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		24/16 FONT SIZES
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a::-moz-selection,
abbr::-moz-selection,
acronym::-moz-selection,
address::-moz-selection,
applet::-moz-selection,
article::-moz-selection,
aside::-moz-selection,
audio::-moz-selection,
b::-moz-selection,
big::-moz-selection,
blockquote::-moz-selection,
button::-moz-selection,
body::-moz-selection,
canvas::-moz-selection,
caption::-moz-selection,
center::-moz-selection,
cite::-moz-selection,
code::-moz-selection,
dd::-moz-selection,
del::-moz-selection,
details::-moz-selection,
dfn::-moz-selection,
div::-moz-selection,
dl::-moz-selection,
dt::-moz-selection,
em::-moz-selection,
embed::-moz-selection,
fieldset::-moz-selection,
figcaption::-moz-selection,
figure::-moz-selection,
footer::-moz-selection,
form::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
header::-moz-selection,
hgroup::-moz-selection,
html::-moz-selection,
i::-moz-selection,
input::-moz-selection,
iframe::-moz-selection,
img::-moz-selection,
ins::-moz-selection,
kbd::-moz-selection,
label::-moz-selection,
legend::-moz-selection,
li::-moz-selection,
mark::-moz-selection,
menu::-moz-selection,
main::-moz-selection,
nav::-moz-selection,
object::-moz-selection,
ol::-moz-selection,
output::-moz-selection,
option::-moz-selection,
p::-moz-selection,
pre::-moz-selection,
q::-moz-selection,
ruby::-moz-selection,
s::-moz-selection,
samp::-moz-selection,
section::-moz-selection,
small::-moz-selection,
span::-moz-selection,
strike::-moz-selection,
strong::-moz-selection,
sub::-moz-selection,
summary::-moz-selection,
select::-moz-selection,
sup::-moz-selection,
table::-moz-selection,
tbody::-moz-selection,
td::-moz-selection,
tfoot::-moz-selection,
th::-moz-selection,
thead::-moz-selection,
time::-moz-selection,
tr::-moz-selection,
tt::-moz-selection,
u::-moz-selection,
ul::-moz-selection,
var::-moz-selection,
video::-moz-selection {
  background: #B32122;
  color: #e0dbdb;
}

a::selection,
abbr::selection,
acronym::selection,
address::selection,
applet::selection,
article::selection,
aside::selection,
audio::selection,
b::selection,
big::selection,
blockquote::selection,
button::selection,
body::selection,
canvas::selection,
caption::selection,
center::selection,
cite::selection,
code::selection,
dd::selection,
del::selection,
details::selection,
dfn::selection,
div::selection,
dl::selection,
dt::selection,
em::selection,
embed::selection,
fieldset::selection,
figcaption::selection,
figure::selection,
footer::selection,
form::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
header::selection,
hgroup::selection,
html::selection,
i::selection,
input::selection,
iframe::selection,
img::selection,
ins::selection,
kbd::selection,
label::selection,
legend::selection,
li::selection,
mark::selection,
menu::selection,
main::selection,
nav::selection,
object::selection,
ol::selection,
output::selection,
option::selection,
p::selection,
pre::selection,
q::selection,
ruby::selection,
s::selection,
samp::selection,
section::selection,
small::selection,
span::selection,
strike::selection,
strong::selection,
sub::selection,
summary::selection,
select::selection,
sup::selection,
table::selection,
tbody::selection,
td::selection,
tfoot::selection,
th::selection,
thead::selection,
time::selection,
tr::selection,
tt::selection,
u::selection,
ul::selection,
var::selection,
video::selection {
  background: #B32122;
  color: #e0dbdb;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
  margin: 0;
}

html {
  font-size: 100%;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0125rem;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0125rem;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  display: inline-block;
}

figure {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-decoration:focus,
input[type="search"]::-webkit-search-cancel-button:focus,
input[type="search"]::-webkit-search-results-button:focus,
input[type="search"]::-webkit-search-results-decoration:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

textarea {
  resize: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

select {
  cursor: pointer;
}

/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint functions
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/*------------------------------------*\
    breakpoint usage
\*------------------------------------*/
.header {
  background: white;
  -webkit-box-shadow: drop-shadow(0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.03));
          box-shadow: drop-shadow(0rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.03));
  padding: 0.625rem 0rem;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content .logo .brandlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header-content .logo .brandlink-icon {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header-content .logo .brandlink-icon img {
  width: 100%;
  height: 100%;
}

.header-content .logo .brandlink-text {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: black;
  text-transform: uppercase;
  text-shadow: 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.66);
}

.header-content .headermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.25rem;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
}

@media screen and (max-width: 61.9375rem) {
  .header-content .headermenu {
    gap: 1rem;
  }
}

.header-content .headermenu .headerlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 48rem) {
  .header-content .headermenu .headerlist {
    display: none;
  }
}

.header-content .headermenu .headerlist-link {
  width: 100%;
  padding: 1rem 1.25rem;
  color: #323232;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

@media screen and (max-width: 61.9375rem) {
  .header-content .headermenu .headerlist-link {
    padding: 1rem;
  }
}

.header-content .headermenu .headerlist-link:hover:not(.active) {
  color: #BABABA;
}

.header-content .headermenu .headerlist-link.active {
  color: #BABABA;
}

.header-content .headermenu .iconlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

@media screen and (max-width: 61.9375rem) {
  .header-content .headermenu .iconlist {
    gap: 1.25rem;
  }
}

.header-content .headermenu .iconlist .cartlink {
  height: 1.75rem;
  width: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-content .headermenu .iconlist .cartlink .icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header-content .headermenu .iconlist .cartlink .cartcount {
  position: absolute;
  top: -0.375rem;
  right: -0.625rem;
  height: 1.125rem;
  width: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem;
  text-align: center;
  border-radius: 100%;
  background: #323232;
  color: #e0dbdb;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1;
}

.header-content .headermenu .iconlist-link {
  background: transparent;
  border: none;
  height: 1.875rem;
  width: 1.875rem;
  padding: 0.25rem;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 48rem) {
  .header-content .headermenu .iconlist-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .mobilemenu .mobilelist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.header .mobilemenu .mobilelist-link {
  width: 100%;
  padding: 1rem 1.25rem;
  background: white;
  color: #323232;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.header .mobilemenu .mobilelist-link:hover:not(.active) {
  background: #EDEDF0;
  color: #323232;
}

.header .mobilemenu .mobilelist-link.active {
  background: #EDEDF0;
  color: #323232;
}

.footer {
  background: #f7f7f7;
  padding: 1.5rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content .footerinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content .footerinfo .footerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer-content .socialsinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content .socialsinfo .sociallist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offcanvas-end {
  border-left: 0;
}

.offcanvas-start {
  border-right: 0;
}

.offcanvas {
  background: #f8f8f8;
}

.offcanvas-header {
  border-bottom: solid 0.0625rem rgba(208, 217, 227, 0.2);
  padding: 1rem 1.5rem;
}

.offcanvas-header .brandlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.offcanvas-header .brandlink-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.offcanvas-header .brandlink-icon img {
  width: 100%;
  height: 100%;
}

.offcanvas-header .brandlink-text {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: black;
  text-transform: uppercase;
  text-shadow: 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.66);
}

.offcanvas-header .btn-close {
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.offcanvas-header .btn-close svg {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.offcanvas-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.offcanvas-header .btn-close:not([disabled]):hover svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.offcanvas-header .btn-close:not([disabled]):hover svg path {
  fill: #B32122;
}

.offcanvas-body {
  padding: 1.5rem;
}

.offcanvas-body::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background: #B32122;
  border-radius: 0.5rem;
  border-radius: 0.5rem;
}
