// SITE BREADCRUMB START
.sitebreadcrumb {
    height: length(286);
    background: $grayBg;
    @include flex-center-vert;

    @include breakpoint(tablet991) {
        justify-content: center;
        height: length(220);
    }

    @include breakpoint(phone575) {
        height: length(180);
    }

    &-content {
        .breadcrumb-title {
            @include font-54-36-bold;
            color: $primaryDark;

            @include breakpoint(tablet991) {
                text-align: center;
            }

            @include breakpoint(phone768) {
                @include font-28-21-bold;
            }
        }

        .breadcrumblist {
            @include list-horizontal;

            @include breakpoint(tablet991) {
                justify-content: center;
            }

            &-item {
                position: relative;
                padding: length(0) length(4);
                @include font-24-16-medium;
                color: $black;

                @include breakpoint(phone768) {
                    @include font-24-14-semibold;
                }

                &:first-of-type {
                    padding-left: 0;

                    &::before {
                        content: '';
                    }
                }

                &::before {
                    position: absolute;
                    content: '.';
                    left: length(-2);
                    bottom: 0;
                    color: $black;
                }

                &.active {
                    color: $secondary;

                    &::before {
                        color: $secondary;
                    }
                }
            }

            &-link {
                font: inherit;
                color: inherit;
            }
        }
    }
}