.mc-display {}

.mc-display__header {
    background: darken($primary, 10%);

    @include breakpoint(phone768) {
        display: none;
    }
}

.mc-display__body {
    background: $primary;

    @include breakpoint(phone768) {
        display: none;
    }
}

.mc-picker {
    @include breakpoint(phone768) {
        width: 90%;
        margin-inline: auto;
        background: $white;
    }
}

.mc-calendar--modal {
    .mc-display {
        @include breakpoint(phone768) {
            display: none;
        }
    }
}

.mc-picker__body {
    background: $white;

    @include breakpoint(phone768) {
        width: 90%;
        margin-inline: auto;
    }
}

#mc-btn__cancel {
    color: rgba($black, 0.2);
}

#mc-btn__ok {
    color: $primary;
}

.mc-table__weekday {
    color: $textSecondary;
}

#mc-current--month,
#mc-current--year {
    color: $textSecondary;
}

.mc-date--active.mc-date--today {
    @include setBgColor($buttonHover, $primary);
}

.mc-date--active.mc-date--picked {
    @include setBgColor($primary, $buttonHover);
}

.icon-angle--left {
    path {
        fill: $textDesignation;
    }
}

.icon-angle--right {
    path {
        fill: $textDesignation;
    }
}

.mc-calendar {
    background: lighten($primary, 25%) !important;

    @include breakpoint(phone768) {
        background: $white !important;
        width: 95%;
        margin-inline: auto;
    }
}