.mc-display__header {
    background: darken($primary, 10%);
}

.mc-display__body {
    background: $primary;
}

.mc-picker__body {
    background: $white;
}

#mc-btn__cancel {
    color: rgba($black, 0.2);
}

#mc-btn__ok {
    color: $primary;
}

.mc-table__weekday {
    color: $textSecondary;
}

#mc-current--month,
#mc-current--year {
    color: $textSecondary;
}

.mc-date--active.mc-date--today {
    @include setBgColor($buttonHover, $primary);
}

.mc-date--active.mc-date--picked {
    @include setBgColor($primary, $buttonHover);
}

.icon-angle--left {
    path {
        fill: $textDesignation;
    }
}

.icon-angle--right {
    path {
        fill: $textDesignation;
    }
}

.mc-calendar {
    background: lighten($primary, 25%) !important;
}