.card-category {
    @include radius(8);
    background: $white;
    // box-shadow: $box-shadow-5;
    width: length(118);
    height: length(113);
    @include flex-center-column;
    gap: length(10);
    padding: length(8);

    .title {
        @include font-24-14-medium;
        color: $textPrimary;
    }
}

.product-card {
    // width: length(181);
    // height: length(332);
    @include border(solid, 1, $product-border);
    @include radius(8);
    background: $white;
    @include transitions;

    @include hover {
        box-shadow: $box-shadow-5;
    }

    &-header {
        padding: length(8) length(8) length(16);
        @include flex-center;
        position: relative;

        .productlink {
            @include flex-center;
            // width: length(165);
            @include w100;
            height: length(176);
            @include radius(8);
            overflow: hidden;

            .product-thumbnail {
                @include wh100;
                overflow: hidden;

                img {
                    @include wh100;
                    object-fit: cover;
                    @include transitions;

                    @include hover {
                        @include transform(scale(1.05));
                    }
                }
            }
        }

        .card-badge {
            position: absolute;
            top: length(8);
            left: length(8);
            padding: length(4) length(6);
            @include radius(2);
            @include font-16-12-semibold;
        }

        .badge-arrival {
            @include setBgColor($newArrivalBg, $white);
        }

        .badge-percentage {
            @include setBgColor($percentOffBg, $white);
        }

        .badge-free {
            @include setBgColor($freeDeliveryBg, $white);
        }
    }

    &-body {
        padding: length(0) length(16) length(16);

        .productlink {
            display: block;
            margin-bottom: length(8);

            .product-title {
                @include font-16-10-normal;
                color: $textSecondary;
                @include text-overflow;
            }
        }

        .model {
            @include font-15-11-medium;
            color: $primary;
            margin-bottom: length(8);
        }

        .prices {
            margin-bottom: length(28);

            .current-price {
                @include font-24-14-medium;
                color: $primaryDark;
            }
        }

        .status-wishlist {
            @include flex-center-between;

            .status {
                @include transparent-button;
                @include font-16-12-medium;
            }

            .stock-out {
                color: $textDanger;
            }

            .addtocart {
                color: $textWarning;
            }

            .selectoption {
                color: $textWarning;
            }

            .add-item {
                color: $primary;
            }

            .btn-wishlist {
                @include transparent-button;
            }
        }
    }
}

.card-vertical {
    padding: length(8);
    @include border(solid, 1, $product-border);
    @include radius(8);
    background: $white;
    @include transitions;

    @include hover {
        box-shadow: $box-shadow-5;
    }

    &-link {
        @include w100;
        @include radius(8);
        overflow: hidden;
    }

    &-header {
        position: relative;
        @include flex-center;

        .badge {
            position: absolute;
            top: length(8);
            left: length(8);
            padding: length(4) length(6);
            @include radius(2);
            @include font-16-12-semibold;
            z-index: 120;
        }

        .badge-primary {
            @include setBgColor($newArrivalBg, $white);
        }

        .badge-danger {
            @include setBgColor($percentOffBg, $white);
        }

        .badge-success {
            @include setBgColor($freeDeliveryBg, $white);
        }

        .product-thumbnail {
            @include flex-center;
            width: length(228);
            height: length(176);
            @include radius(8);
            overflow: hidden;

            img {
                max-width: 100%;
                object-fit: cover;
                @include transitions;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        @include flex-column;
        gap: length(8);
        padding: length(16) length(8) length(8);

        .material {
            @include font-16-10-normal;
            color: $textSecondary;

            @include breakpoint(mobile400) {
                @include line-clamp;
                height: length(32);
            }
        }

        .model-price {
            @include flex-column;
            gap: length(8);

            .model {
                @include font-15-11-medium;
                color: $primary;
            }

            .price {
                @include font-24-14-medium;
                color: $primaryDark;
            }
        }
    }

    &-footer {
        @include flex-center-between;
        padding: length(8);

        .status {
            @include transparent-button;
            @include font-16-12-medium;
        }

        .stock-out {
            color: $textDanger;
        }

        .addtocart {
            color: $textWarning;
        }

        .selectoption {
            color: $textWarning;
        }

        .add-item {
            color: $primary;
        }

        .btn-wishlist {
            @include transparent-button;
        }
    }
}

.card-horizontal {
    padding: length(8);
    @include border(solid, 1, $product-border);
    @include radius(8);
    background: $white;
    @include transitions;
    display: flex;

    @include hover {
        box-shadow: $box-shadow-5;
    }

    .link {
        @include flex-center;
    }

    &-header {
        position: relative;
        @include flex-center;

        .badge {
            position: absolute;
            top: length(8);
            left: length(8);
            padding: length(4) length(6);
            @include radius(2);
            @include font-16-12-semibold;
            z-index: 120;
        }

        .badge-primary {
            @include setBgColor($newArrivalBg, $white);
        }

        .badge-danger {
            @include setBgColor($percentOffBg, $white);
        }

        .badge-success {
            @include setBgColor($freeDeliveryBg, $white);
        }

        .product-thumbnail {
            @include flex-center;
            width: length(143);
            height: length(103);
            @include radius(8);
            overflow: hidden;

            @include breakpoint(mobile768) {
                // width: length(228);
                // height: length(176);
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                @include transitions;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }
    }

    &-body {
        width: calc(100% - 8.9375rem);
        padding: length(8) length(16);

        .link {
            display: block;
        }

        .card-details {
            @include flex-column;
            gap: length(8);

            .material {
                @include font-16-10-normal;
                color: $textSecondary;

                // @include breakpoint(mobile400) {
                //     @include line-clamp;
                //     height: length(32);
                // }
            }

            .model-price {
                @include flex-column;
                gap: length(8);

                .model {
                    @include font-15-11-medium;
                    color: $primary;
                }

                .price {
                    @include font-24-14-medium;
                    color: $primaryDark;
                }
            }
        }

        .card-options {
            @include flex-center-between;
            padding: length(8);

            .status {
                @include transparent-button;
                @include font-16-12-medium;
            }

            .stock-out {
                color: $textDanger;
            }

            .addtocart {
                color: $textWarning;
            }

            .selectoption {
                color: $textWarning;
            }

            .add-item {
                color: $primary;
            }

            .btn-wishlist {
                @include transparent-button;
            }
        }
    }
}

.card-cart {
    display: flex;
    padding: length(16);
    background: $white;

    &-cap {
        @include flex-center;
        overflow: hidden;
        width: length(92);
        height: length(68);

        .card-thumbnail {
            @include square(length(64));
            @include flex-center;
            overflow: hidden;

            img {
                @include wh100;
                object-fit: cover;
            }
        }
    }

    &-details {
        width: calc(100% - 5.75rem);
        @include flex-column;
        gap: length(4);

        .card-cart-info {
            @include flex-center-between;

            .material {
                width: calc(100% - 1.5rem);

                &-title {
                    @include font-18-13-medium;
                    color: $textSecondary;
                    letter-spacing: length(0.2);
                    @include text-overflow;
                }
            }

            .cardcheck {
                @include square(length(24));
                @include flex-center;

                .checkinput {
                    &:checked~.checklabel {
                        &::before {
                            background: $checkBoxBg;
                            border-color: $checkBoxBg;
                        }

                        &::after {
                            border-color: $white;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .checklabel {
                    position: relative;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 45%;
                        @include transform(translateY(-45%));
                        left: 0;
                        @include square(length(20));
                        @include border(solid, 1, $input-border);
                        background: $white;
                        @include circle;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: length(7.5);
                        width: length(5);
                        height: length(10);
                        @include border(solid, 2, $white);
                        border-top: 0;
                        border-left: 0;
                        @include transform(translateY(-50%) rotate(45deg));
                        opacity: 0;
                        visibility: hidden;
                        @include transitions;
                    }
                }
            }
        }

        .model {
            @include font-24-14-medium;
            color: $primaryDark;
        }

        .prices {
            @include flex-center-vert;
            gap: length(40);

            @include breakpoint(phone768) {
                gap: length(16);
            }

            .current-price {
                @include font-24-14-medium;
                color: $textWarning;
                letter-spacing: length(-1);
            }

            .previous-price {
                @include font-15-11-normal;
                color: $textSecondary;
                text-decoration: line-through;
            }
        }
    }
}

.card-view {
    background: $white;

    &-header {
        display: flex;
        padding: length(16);

        .card-view-cap {
            @include flex-center;
            overflow: hidden;
            width: length(92);
            height: length(68);

            .card-thumbnail {
                @include square(length(64));
                @include flex-center;
                overflow: hidden;

                img {
                    @include wh100;
                    object-fit: cover;
                }
            }
        }

        .card-view-details {
            width: calc(100% - 5.75rem);
            @include flex-column;
            gap: length(4);

            .card-view-info {
                @include flex-center-between;

                .material {
                    width: calc(100% - 5.625rem);

                    &-title {
                        @include font-18-13-medium;
                        color: $textSecondary;
                        letter-spacing: length(0.2);
                        @include text-overflow;
                    }
                }

                .badgeinfo {
                    width: length(90);

                    .cardbadge {
                        padding: length(4) length(6);
                        @include font-16-12-medium;
                        @include radius(2);
                        text-align: center;
                        max-width: 100%;

                        &-danger {
                            @include setBgColor($percentOffBg, $white);
                        }

                        &-success {
                            @include setBgColor($freeDeliveryBg, $white);
                        }
                    }
                }
            }

            .model {
                @include font-24-14-medium;
                color: $primaryDark;
            }

            .prices {
                @include flex-center-vert;
                gap: length(40);

                @include breakpoint(phone768) {
                    gap: length(16);
                }

                .current-price {
                    @include font-24-14-medium;
                    color: $textWarning;
                    letter-spacing: length(-1);
                }

                .previous-price {
                    @include font-15-11-normal;
                    color: $textSecondary;
                    text-decoration: line-through;
                }
            }
        }
    }

    .divider {
        background: $grayBg;
        margin: length(17) length(0) length(8);
        height: length(1);
    }

    &-body {
        @include flex-center-between;

        .btn-cart {
            @include flex-center;
            gap: length(4);
            @include transparent-button;

            .icon {
                @include square(length(16));
                @include flex-center;
                overflow: hidden;

                svg {
                    path {
                        @include transitions;
                    }
                }
            }

            .text {
                @include font-24-13-normal;
                color: $primary;
                @include transitions;
            }

            @include hover {
                .icon {
                    svg {
                        path {
                            fill: $textWarning;
                        }
                    }
                }

                .text {
                    color: $textWarning;
                }
            }
        }
    }
}

.cardsidecart {
    padding: length(16) length(16) length(10);
    @include flex-column;
    gap: length(24);

    &-header {
        display: flex;

        .card-thumbnail {
            width: length(92);
            height: length(68);
            @include flex-center;

            .card-cap {
                @include square(length(64));
                @include flex-center;
                overflow: hidden;

                img {
                    @include wh100;
                }
            }
        }

        .details {
            @include flex-column;
            gap: length(4);
            width: calc(100% - 5.75rem);

            .material {
                @include font-15-11-medium;
                color: $textSecondary;
            }

            hgroup {
                @include flex-column;
                gap: length(4);

                .model {
                    @include font-24-14-medium;
                    color: $primaryDark;
                }

                .size {
                    @include font-16-12-medium;
                    color: $primary;

                    &-title {
                        @include font-16-12-medium;
                        color: $textSecondary;
                    }
                }

                .price {
                    @include font-16-14-medium;
                    color: $textWarning;
                }
            }
        }
    }

    &-body {
        .count-editdelete {
            @include flex-center-vert;
            gap: length(6);

            .count {
                @include flex-center-vert;
                align-self: flex-end;

                .btn-decrement,
                .btn-increment {
                    @include square(length(30));
                    @include flex-center;
                    @include transparent-button;
                    @include border(solid, 1, $dividerBg);
                    @include radius(6);
                }

                .inputfield {
                    @include font-24-13-normal;
                    @include setBgColor(transparent, $paginatinonText);
                    max-width: length(34);
                    text-align: center;
                }
            }

            .editdelete {
                @include flex-center-vert;
                gap: length(10);

                .delete {
                    .btn-delete {
                        @include flex-center;
                        gap: length(4);
                        @include setBgColor(transparent, $primary);

                        .icon {
                            @include square(length(16));
                            @include flex-center;
                            margin-top: length(-2);

                            svg {
                                path {
                                    @include transitions;
                                }
                            }
                        }

                        .text {
                            @include font-16-10-normal;
                            width: calc(100% - 1.25rem);
                            @include transitions;
                        }

                        @include hover {
                            .icon {
                                svg {
                                    path {
                                        fill: $breadcrumbActive;
                                    }
                                }
                            }

                            .text {
                                color: $breadcrumbActive;
                            }
                        }
                    }
                }

                .moveto {
                    .btn-wishlist {
                        @include flex-center;
                        gap: length(4);
                        @include setBgColor(transparent, $primary);

                        .icon {
                            @include square(length(16));
                            @include flex-center;

                            svg {
                                path {
                                    @include transitions;
                                }
                            }
                        }

                        .text {
                            @include font-16-10-normal;
                            width: calc(100% - 1.25rem);
                            @include transitions;
                        }

                        @include hover {
                            .icon {
                                svg {
                                    path {
                                        fill: $checkBoxBg;
                                    }
                                }
                            }

                            .text {
                                color: $checkBoxBg;
                            }
                        }
                    }
                }

                .edit {
                    .btn-edit {
                        @include flex-center;
                        gap: length(4);
                        @include setBgColor(transparent, $primary);

                        .icon {
                            @include square(length(16));
                            @include flex-center;

                            svg {
                                path {
                                    @include transitions;
                                }
                            }
                        }

                        .text {
                            @include font-16-10-normal;
                            width: calc(100% - 1.25rem);
                            @include transitions;
                        }

                        @include hover {
                            .icon {
                                svg {
                                    path {
                                        fill: $secondary;
                                    }
                                }
                            }

                            .text {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cardorder {
    background: $cardBg;
    display: flex;
    padding: length(24);
    @include border-single(bottom, solid, 1, rgba($menu-border, 0.2));

    &:last-child {
        border-bottom: 0;
    }

    @include breakpoint(phone768) {
        flex-direction: column;
        align-items: center;
        gap: length(8);
    }


    &-head {
        width: length(92);
        height: length(68);
        @include flex-center;

        .cardorder-cap {
            @include square(length(64));
            @include flex-center;
            overflow: hidden;

            img {
                @include wh100;
            }
        }
    }

    &-details {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 5.75rem);

        @include breakpoint(phone768) {
            @include w100;
            flex-direction: column;
            justify-content: flex-start;
            gap: length(8);
        }
    
        .cardinfo {
            width: 50%;
            text-align: left;
            @include flex-column;
            gap: length(4);

            @include breakpoint(phone768) {
                @include w100;
            }

            .material {
                @include font-15-11-medium;
                color: $textSecondary;
            }

            .model {
                @include font-24-14-medium;
                color: $primaryDark;
            }

            .return {
                @include flex-center-vert;
                gap: length(4);

                .icon {
                    @include square(length(12));
                    @include flex-center;
                    overflow: hidden;
                }

                .text {
                    @include font-16-10-normal;
                    color: $textPrimary;
                }
            }
        }

        .orderinfo {
            width: 50%;
            text-align: right;
            @include flex-column;
            gap: length(4);

            @include breakpoint(phone768) {
                @include w100;
                text-align: left;
            }

            .price {
                @include font-16-14-medium;
                color: $textWarning;
            }

            .quantity {
                @include font-16-12-medium;
                color: $primary;

                &-count {
                    @include font-16-12-medium;
                    color: $textSecondary;
                }
            }

            .deliverinfo {
                .deliverydate {
                    @include font-16-12-medium;
                    color: $checkBoxBg;
                }
            }
        }
    }
}