// SITE FOOTER START

.footer {
    background: $footerBg;
    padding: length(24);

    &-content {
        @include flex-center-column;

        .footerinfo {
            @include flex-center-column;

            .footerlogo {
                @include flex-center-vert;
                gap: length(10);

                &-icon {}

                &-text {}
            }

            .footlink {}
        }

        .socialsinfo {
            @include flex-center-column;

            &-title {}

            .sociallist {
                @include list-horizontal;

                &-link {}
            }
        }
    }
}

// SITE FOOTER END