// LOGIN MODAL START
.loginmodal {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .login {
                    @include flex-column;
                    gap: length(24);

                    &-header {
                        @include flex-column;
                        gap: length(16);

                        .login-title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                            text-align: center;
                        }

                        .login-text {
                            @include font-18-13-medium;
                            color: $textPrimary;
                            text-align: center;
                        }
                    }

                    &-form {
                        @include flex-column;
                        gap: length(16);

                        .inputbox {
                            @include flex-center-vert;
                            background: $product-border;
                            @include radius(8);
                            height: length(50);
                            padding: length(15) length(16);
                            @include transitions;
                            @include border(solid, 1, transparent);

                            .icon {
                                @include square(length(20));
                                @include flex-center;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }
                            }

                            .input-field {
                                @include setBgColor(transparent, $textPrimary);
                                width: calc(100% - 1.25rem);
                                padding-left: length(16);
                                @include font-18-13-medium;

                                &::placeholder {
                                    color: $textPrimary;
                                }
                            }

                            &:focus-within {
                                background: $product-border;
                                border-color: $input-border;

                                .icon {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }
                        }

                        .remember-forgot {
                            @include flex-center-between;
                            margin-bottom: length(8);

                            .remember {
                                input[type="checkbox"] {
                                    &:checked~.checklabel {
                                        &::before {
                                            background: $checkBoxBg;
                                            border-color: $checkBoxBg;
                                        }

                                        &::after {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                .checklabel {
                                    position: relative;
                                    padding-left: length(28);
                                    cursor: pointer;
                                    @include flex-center-vert;
                                    @include font-18-13-medium;
                                    line-height: 1;
                                    color: $primary;

                                    &::selection {
                                        color: $primary;
                                        background: transparent;
                                    }

                                    &::before {
                                        content: '';
                                        background: $white;
                                        @include square(length(20));
                                        @include border(solid, 1.43, $textSecondary);
                                        @include circle;
                                        position: absolute;
                                        top: 50%;
                                        @include transform(translateY(-50%));
                                        left: length(0);
                                        @include transitions;
                                    }

                                    &::after {
                                        content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5.71421L4.21426 8.42847L10.9999 1.64282' stroke='white' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                                        position: absolute;
                                        top: 50%;
                                        @include transform(translateY(-45%));
                                        left: length(4);
                                        @include transitions;
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }
                            }

                            .forgot {
                                .btn-forgot {
                                    @include setBgColor(transparent, $textWarning);
                                    @include font-24-13-normal;
                                    @include transitions;

                                    @include hover {
                                        color: $gold;
                                    }
                                }
                            }
                        }

                        .submitbox {
                            .btn-submit {
                                @include w100;
                                padding: length(13) length(24);
                                @include font-18-13-medium;
                                @include setBgColor($submitBg, $white);
                                @include radius(8);
                                box-shadow: $box-shadow-1;
                                @include transitions;

                                @include hover {
                                    background: $secondary;
                                }
                            }
                        }
                    }
                }

                .social-auth {
                    @include flex-column;
                    gap: length(24);

                    &-head {
                        @include flex-center;
                        gap: length(16);

                        .divider {
                            width: calc(50% - 1rem);
                            height: length(1);
                            background: $dividerBg;
                        }

                        .text {
                            @include font-18-13-normal;
                            color: $black;
                        }
                    }

                    .btn-social {
                        @include setBgColor($socialBtnBg, $socialBtnText);
                        @include w100;
                        padding: length(13) length(24);
                        text-align: center;
                        position: relative;
                        @include radius(8);
                        @include transitions;

                        .icon {
                            position: absolute;
                            top: 50%;
                            @include transform(translateY(-50%));
                            left: length(24);
                        }

                        .text {
                            @include font-18-13-medium;
                        }

                        @include hover {
                            @include setBgColor($percentOffBg, $socialBtnText);
                        }
                    }
                }

                .modaltext {
                    .text {
                        color: $textSecondary;
                        text-align: center;
                        @include font-24-14-medium;

                        button {
                            @include transparent-button;
                            font: inherit;
                            color: $textWarning;
                            @include transitions;

                            @include hover {
                                color: $gold;
                            }
                        }
                    }
                }
            }
        }
    }
}

// SIGNUP MODAL START
.signupmodal {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .register {
                    @include flex-column;
                    gap: length(24);

                    &-header {
                        @include flex-column;
                        gap: length(16);

                        .register-title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                            text-align: center;
                        }

                        .register-text {
                            @include font-18-13-medium;
                            color: $textPrimary;
                            text-align: center;
                        }
                    }

                    &-form {
                        @include flex-column;
                        gap: length(16);

                        .inputbox {
                            .input-field {
                                @include setBgColor($product-border, $textPrimary);
                                width: calc(100% - 1.25rem);
                                @include border(solid, 1, transparent);
                                padding: length(0) length(16);
                                @include font-18-13-medium;
                                @include radius(8);
                                height: length(50);
                                padding: length(15) length(16);
                                @include transitions;

                                &:focus {
                                    background: $product-border;
                                    border-color: $input-border;
                                }

                                &::placeholder {
                                    color: $textPrimary;
                                }
                            }
                        }

                        .genderbox {
                            @include flex-column;
                            gap: length(12);
                            margin: length(16) length(0);

                            &-head {
                                @include flex-center;
                                gap: length(16);

                                .divider {
                                    width: calc(50% - 1rem);
                                    height: length(1);
                                    background: $dividerBg;
                                }

                                .gendertitle {
                                    @include font-18-13-normal;
                                    color: $black;
                                }
                            }

                            &-body {
                                @include flex-center-vert;
                                gap: length(16);

                                @include breakpoint(phone575) {
                                    flex-direction: column;
                                    align-items: flex-start;
                                }

                                .gender {
                                    input[type="radio"] {
                                        &:checked~label {
                                            &::before {
                                                background: $textWarning;
                                                border-color: $textWarning;
                                            }

                                            &::after {
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }
                                    }

                                    label {
                                        position: relative;
                                        @include flex-center-vert;
                                        padding-left: length(28);
                                        cursor: pointer;
                                        @include font-18-13-medium;
                                        line-height: 1;
                                        color: $primary;

                                        &::selection {
                                            color: $primary;
                                            background: transparent;
                                        }

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            @include transform(translateY(-50%));
                                            left: length(0);
                                            @include square(length(20));
                                            @include border(solid, 1.43, $textSecondary);
                                            @include circle;
                                            @include transitions;
                                        }

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            @include transform(translateY(-50%));
                                            left: length(0);
                                            @include square(length(8));
                                            background: $white;
                                            @include circle;
                                            left: length(6);
                                            opacity: 0;
                                            visibility: hidden;
                                            @include transitions;
                                        }
                                    }
                                }
                            }
                        }

                        .infobox {
                            @include flex-center-vert;
                            background: $product-border;
                            @include radius(8);
                            height: length(50);
                            padding: length(15) length(16);
                            @include transitions;
                            @include border(solid, 1, transparent);

                            .icon {
                                @include square(length(20));
                                @include flex-center;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }
                            }

                            .input-field {
                                @include setBgColor(transparent, $textPrimary);
                                width: calc(100% - 1.25rem);
                                padding: length(0) length(16);
                                @include font-18-13-medium;

                                &::placeholder {
                                    color: $textPrimary;
                                }
                            }

                            &:focus-within {
                                background: $product-border;
                                border-color: $input-border;

                                .icon {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }

                            .flag-code {
                                @include flex-center-vert;
                                gap: length(8);

                                .code {
                                    @include font-22-14-normal;
                                    color: $primary;
                                }
                            }

                            .btn-showhide {
                                @include transparent-button;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }

                                @include hover {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }
                        }

                        .submitbox {
                            margin-top: length(16);

                            .btn-submit {
                                @include w100;
                                padding: length(13) length(24);
                                @include font-18-13-medium;
                                @include setBgColor($textWarning, $white);
                                @include radius(8);
                                box-shadow: $box-shadow-1;
                                @include transitions;

                                @include hover {
                                    background: $gold;
                                }
                            }
                        }
                    }
                }

                .social-auth {
                    @include flex-column;
                    gap: length(24);

                    &-head {
                        @include flex-center;
                        gap: length(16);

                        .divider {
                            width: calc(50% - 1rem);
                            height: length(1);
                            background: $dividerBg;
                        }

                        .text {
                            @include font-18-13-normal;
                            color: $black;
                        }
                    }

                    .btn-social {
                        @include setBgColor($socialBtnBg, $socialBtnText);
                        @include w100;
                        padding: length(13) length(24);
                        text-align: center;
                        position: relative;
                        @include radius(8);
                        @include transitions;

                        .icon {
                            position: absolute;
                            top: 50%;
                            @include transform(translateY(-50%));
                            left: length(24);
                        }

                        .text {
                            @include font-18-13-medium;
                        }

                        @include hover {
                            @include setBgColor($percentOffBg, $socialBtnText);
                        }
                    }
                }

                .modaltext {
                    .text {
                        color: $textSecondary;
                        text-align: center;
                        @include font-24-14-medium;

                        button {
                            @include transparent-button;
                            font: inherit;
                            color: $textWarning;
                            @include transitions;

                            @include hover {
                                color: $gold;
                            }
                        }
                    }
                }
            }
        }
    }
}

// FORGOT PASSWORD MODAL
.forgotmodal {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .forgot {
                    @include flex-column;
                    gap: length(24);

                    &-header {
                        @include flex-column;
                        gap: length(16);

                        .forgot-title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                            text-align: center;
                        }

                        .forgot-text {
                            @include font-18-13-medium;
                            color: $textPrimary;
                            text-align: center;
                        }
                    }

                    &-form {
                        @include flex-column;
                        gap: length(24);

                        .inputbox {
                            @include flex-center-vert;
                            background: $product-border;
                            @include radius(8);
                            height: length(50);
                            padding: length(15) length(16);
                            @include transitions;
                            @include border(solid, 1, transparent);

                            .icon {
                                @include square(length(20));
                                @include flex-center;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }
                            }

                            .input-field {
                                @include setBgColor(transparent, $textPrimary);
                                width: calc(100% - 1.25rem);
                                padding: length(0) length(16);
                                @include font-18-13-medium;

                                &::placeholder {
                                    color: $textPrimary;
                                }
                            }

                            &:focus-within {
                                background: $product-border;
                                border-color: $input-border;

                                .icon {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }
                        }

                        .submitbox {
                            @include flex-center-between;
                            gap: length(16);

                            .btn-back {
                                width: calc(50% - 1rem);
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include border(solid, 1, $textWarning);
                                @include radius(8);
                                filter: $box-shadow-6;
                                @include setBgColor($white, $textWarning);
                                padding: length(8) length(16);
                                @include transitions;
                                filter: $box-shadow-6;

                                .text {
                                    @include font-18-13-medium;
                                    margin-top: length(2);
                                }

                                @include hover {
                                    @include setBgColor($textWarning, $white);

                                    .icon {
                                        svg {
                                            path {
                                                fill: $white;
                                            }
                                        }
                                    }
                                }
                            }

                            .btn-next {
                                width: calc(50% - 1rem);
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include radius(8);
                                @include setBgColor($submitBg, $textSecondary);
                                padding: length(8) length(16);
                                @include transitions;
                                box-shadow: $box-shadow-1;

                                .text {
                                    @include font-18-13-medium;
                                    margin-top: length(2);
                                }

                                @include hover {
                                    @include setBgColor($textWarning, $white);

                                    .icon {
                                        svg {
                                            path {
                                                fill: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// VERIFICATION MODAL
.verifymodal {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .verify {
                    @include flex-column;
                    gap: length(24);

                    &-header {
                        @include flex-column;
                        gap: length(16);

                        .verify-title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                            text-align: center;
                        }

                        .verify-text {
                            @include font-18-13-medium;
                            color: $textPrimary;
                            text-align: center;
                        }
                    }

                    &-form {
                        @include flex-column;
                        gap: length(24);

                        .inputbox {
                            @include flex-center-vert;
                            background: $product-border;
                            @include radius(8);
                            height: length(50);
                            padding: length(15) length(16);
                            @include transitions;
                            @include border(solid, 1, transparent);

                            .icon {
                                @include square(length(20));
                                @include flex-center;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }
                            }

                            .input-field {
                                @include setBgColor(transparent, $textPrimary);
                                width: calc(100% - 1.25rem);
                                padding: length(0) length(16);
                                @include font-18-13-medium;

                                &::placeholder {
                                    color: $textPrimary;
                                }

                                &:focus {
                                    color: $textWarning;
                                }
                            }

                            &:focus-within {
                                background: $product-border;
                                border-color: $input-border;

                                .icon {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }
                        }

                        .codebox-resend {
                            margin-bottom: length(24);
                            @include flex-center-column;
                            gap: length(16);

                            .codebox {
                                @include flex-center;
                                gap: length(12);

                                .codefield {
                                    @include setBgColor($verifyInputBg, $black);
                                    padding: length(14) length(20);
                                    @include square(length(60));
                                    @include radius(8);
                                    text-align: center;
                                    @include font-32-29-medium;
                                }
                            }

                            .resendtext {
                                @include font-18-13-medium;
                                text-align: center;
                                color: $textPrimary;

                                .timer {
                                    font: inherit;
                                    color: $textTimer;
                                }
                            }
                        }

                        .submitbox {
                            @include flex-center-between;
                            gap: length(16);

                            .btn-back {
                                width: calc(50% - 1rem);
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include border(solid, 1, $textWarning);
                                @include radius(8);
                                filter: $box-shadow-6;
                                @include setBgColor($white, $textWarning);
                                padding: length(8) length(16);
                                @include transitions;
                                filter: $box-shadow-6;

                                .text {
                                    @include font-18-13-medium;
                                    margin-top: length(2);
                                }

                                @include hover {
                                    @include setBgColor($textWarning, $white);

                                    .icon {
                                        svg {
                                            path {
                                                fill: $white;
                                            }
                                        }
                                    }
                                }
                            }

                            .btn-next {
                                width: calc(50% - 1rem);
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include radius(8);
                                @include setBgColor($submitBg, $textSecondary);
                                padding: length(8) length(16);
                                @include transitions;
                                box-shadow: $box-shadow-1;

                                .text {
                                    @include font-18-13-medium;
                                    margin-top: length(2);
                                }

                                @include hover {
                                    @include setBgColor($textWarning, $white);

                                    .icon {
                                        svg {
                                            path {
                                                fill: $white;
                                            }
                                        }
                                    }
                                }
                            }

                            .btn-resend {
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include border(solid, 1, $textWarning);
                                @include radius(8);
                                filter: $box-shadow-6;
                                @include font-18-13-medium;
                                @include setBgColor($white, $textWarning);
                                padding: length(12) length(16);
                                @include transitions;
                                filter: $box-shadow-6;

                                @include hover {
                                    @include setBgColor($textWarning, $white);
                                }
                            }

                            .btn-confirm {
                                width: 50%;
                                @include flex-center;
                                gap: length(6);
                                @include radius(8);
                                @include font-18-13-medium;
                                @include border(solid, 1, transparent);
                                @include setBgColor($submitBg, $textSecondary);
                                padding: length(12) length(16);
                                @include transitions;
                                box-shadow: $box-shadow-1;

                                @include hover {
                                    @include setBgColor($textWarning, $white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// RESET MODAL START
.resetpassword {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .reset {
                    @include flex-column;
                    gap: length(24);

                    &-header {
                        @include flex-column;
                        gap: length(16);

                        .reset-title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                            text-align: center;
                        }

                        .reset-text {
                            @include font-18-13-medium;
                            color: $textPrimary;
                            text-align: center;
                        }
                    }

                    &-form {
                        @include flex-column;
                        gap: length(16);

                        .infobox {
                            @include flex-center-vert;
                            background: $product-border;
                            @include radius(8);
                            height: length(50);
                            padding: length(15) length(16);
                            @include transitions;
                            @include border(solid, 1, transparent);

                            .icon {
                                @include square(length(20));
                                @include flex-center;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }
                            }

                            .input-field {
                                @include setBgColor(transparent, $textPrimary);
                                width: calc(100% - 1.25rem);
                                padding: length(0) length(16);
                                @include font-18-13-medium;

                                &::placeholder {
                                    color: $textPrimary;
                                }
                            }

                            &:focus-within {
                                background: $product-border;
                                border-color: $input-border;

                                .icon {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }

                            .btn-showhide {
                                @include transparent-button;

                                svg {
                                    path {
                                        @include transitions;
                                    }
                                }

                                @include hover {
                                    svg {
                                        path {
                                            fill: $textWarning;
                                        }
                                    }
                                }
                            }
                        }

                        .submitbox {
                            margin-top: length(16);

                            .btn-submit {
                                @include w100;
                                padding: length(13) length(24);
                                @include font-18-13-medium;
                                @include setBgColor($textWarning, $white);
                                @include radius(8);
                                box-shadow: $box-shadow-1;
                                @include transitions;

                                @include hover {
                                    background: $gold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// RESET MODAL START
.resetconfirm {
    .modal-dialog {
        .modal-content {
            padding: length(76) length(60) length(52);
            @include radius(6);
            border: 0;

            @include breakpoint(tablet991) {
                padding: length(30) length(10);
            }

            .modal-header {
                border: 0;
                margin: 0;
                padding: 0;
                @include flex-end;

                .btn-close {
                    @include square(length(22));
                    @include flex-center;
                    opacity: 1;
                    background: transparent;

                    @include breakpoint(tablet991) {
                        margin-right: length(10);
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            .modal-body {
                @include flex-column;
                gap: length(24);

                .confirmresetbox {
                    @include flex-center-column;
                    gap: length(24);

                    &-header {
                        @include flex-center-column;
                        gap: length(16);

                        .icon {
                            @include square(length(48));
                            @include flex-center;
                            @include circle;
                            overflow: hidden;
                        }

                        .title {
                            @include font-28-21-medium;
                            color: $primaryDark;
                        }

                        .text {
                            @include font-24-14-normal;
                            letter-spacing: length(-1);
                            color: $primaryDark;
                        }
                    }

                    &-body {
                        @include w100;

                        .btn-submit {
                            @include w100;
                            padding: length(13) length(24);
                            @include font-18-13-medium;
                            @include setBgColor($textWarning, $white);
                            @include radius(8);
                            box-shadow: $box-shadow-1;
                            @include transitions;

                            @include hover {
                                background: $gold;
                            }
                        }
                    }
                }
            }
        }
    }
}

// PRODUCT MODAL START
.slider-modal {
    .modal-content {
        @include radius(8);

        .modal-header {
            border-color: rgba($menu-border, 0.2);
            padding: length(16) length(32) length(16) length(28);

            .modal-title {
                @include font-24-17-medium;
                color: $primaryDark;
            }

            .btn-close {
                margin: 0;
                padding: 0;
                border: 0;
                @include square(length(24));
                @include flex-center;
                overflow: hidden;
                background: transparent;
                opacity: 1;

                svg {
                    @include transitions;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                @include hover {
                    svg {
                        @include transform(rotate(90deg));

                        path {
                            fill: $red;
                        }
                    }
                }
            }
        }

        .modal-body {
            display: flex;
            // align-items: center;
            gap: length(24);
            padding: length(24) length(34) length(36);

            @include breakpoint(phone768) {
                flex-direction: column;
                padding: length(14);
                gap: length(12);
            }

            .slider-nav {
                width: length(72);
                padding: length(24) length(0) length(36);

                @include breakpoint(phone768) {
                    @include w100;
                    // height: length(72);
                    order: 1;
                }

                .slick-list.draggable {
                    width: length(72) !important;
                    margin-top: length(36);

                    @include breakpoint(phone768) {
                        width: 100% !important;
                        margin-top: length(0);
                    }
                }

                .slick-track {
                    width: length(72) !important;

                    @include breakpoint(phone768) {
                        width: length(1944) !important;
                    }
                }

                .slick-slide {
                    width: length(70) !important;
                    height: length(70) !important;
                    @include flex-center;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: length(8);

                    img {
                        @include wh100;
                        object-fit: cover;
                    }
                }

                .slick-current {
                    @include border(solid, 1, $primaryDark);
                }

                .slick-arrow {
                    top: 0;
                    left: 50%;
                    @include transform(translateX(-50%));
                    @include square(length(50));
                    @include circle;
                    @include flex-center;
                    overflow: hidden;

                    @include breakpoint(phone768) {
                        top: 50%;
                        @include transform(translateX(0%));
                        @include transform(translateY(-50%));
                        left: 0;
                        z-index: 100;
                        @include square(length(25));
                    }

                    svg {
                        path {
                            @include transitions;
                        }
                    }

                    @include hover {
                        svg {
                            path {
                                fill: $primaryDark;
                            }
                        }
                    }

                    &::before {
                        content: '';
                        font-size: 0;
                    }
                }

                .slick-prev {
                    top: 0;

                    @include breakpoint(phone768) {
                        left: length(0);
                        top: 50%;
                        right: auto;
                        @include transform(rotate(-90deg));
                        margin-top: length(-16);
                    }
                }

                .slick-next {
                    top: auto;
                    margin-top: length(8);

                    @include breakpoint(phone768) {
                        right: length(0);
                        margin-top: 0;
                        top: 50%;
                        left: auto;
                        @include transform(rotate(-90deg));
                        margin-top: length(-16);
                    }
                }
            }

            .slider-content {
                @include flex-column;
                gap: length(32);
                width: calc(100% - 6rem);

                @include breakpoint(phone768) {
                    @include w100;
                    order: 0;
                }

                .slider-for {
                    .slider-thumbnail {
                        width: length(456);
                        height: length(562);
                        overflow: hidden;
                        @include flex-center;

                        @include breakpoint(tablet991) {
                            width: length(300);
                            height: length(300);
                        }

                        @include breakpoint(phone768) {
                            width: length(334);
                            height: auto;
                        }

                        @include breakpoint(phone575) {
                            width: length(258);
                            height: auto;
                        }

                        img {
                            @include wh100;
                            object-fit: cover;
                        }
                    }
                }

                .productmaterial-productshare {
                    @include flex-center-between;
                    align-items: flex-start;

                    @include breakpoint(phone500) {}

                    .productmaterial {
                        .material {
                            @include font-24-15-medium;
                            color: $primaryDark;
                            margin-bottom: length(20);
                        }
                    }
                }
            }
        }
    }
}

.productshare {
    position: relative;
    margin-bottom: length(20);

    .btn-socialshare {
        @include transparent-button;
        @include flex-center;
        gap: length(8);

        .icon {
            @include square(length(24));
            @include flex-center;
            overflow: hidden;
        }

        .text {
            @include font-16-13-normal;
            color: $primaryDark;
        }

        @include hover {
            .icon {
                svg {
                    path {
                        stroke: $secondary;
                    }
                }
            }

            .text {
                color: $secondary;
            }
        }
    }

    &-content {
        gap: length(12);
        position: absolute;
        top: 100%;
        right: 0;
        padding: length(10);
        background: $white;
        filter: $box-shadow-6;
        box-shadow: $box-shadow-5;
        display: none;
        @include transitions;

        .btn-social {
            @include transparent-button;
            @include square(length(24));
            @include flex-center;
            overflow: hidden;

            svg {
                path {
                    @include transitions;
                }
            }

            @include hover {
                svg {
                    path {
                        fill: $gold;
                    }
                }
            }
        }
    }

    @include hover {
        .productshare-content {
            @include flex-center-vert;
        }
    }
}