.offcanvas-end {
    border-left: 0;
}

.offcanvas-start {
    border-right: 0;
}

.offcanvas {
    background: $sidebarBg;
    width: length(320);

    &-header {
        @include border-single(bottom, solid, 1, rgba($menu-border, 0.2));
        padding: length(16) length(24);

        .brandlink {
            @include flex-center-vert;
            gap: length(10);

            &-icon {
                @include square(length(40));
                @include flex-center;
                overflow: hidden;

                img {
                    @include wh100;
                }
            }

            &-text {
                @include font-24-16-medium-futuraPT;
                color: $black;
                text-transform: uppercase;
            }
        }

        .btn-close {
            @include square(length(24));
            background: transparent;
            margin: 0;
            padding: 0;
            @include flex-center;
            opacity: 1;

            svg {
                @include transitions;
            }

            &:focus {
                box-shadow: none;
                outline: none;
            }

            @include hover {
                svg {
                    @include transform(rotate(90deg));

                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }

    &-body {
        padding: length(24);

        &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
            @include radius(8);
        }
    }
}