.sitepagination {
    @include flex-center;

    .pagination {
        gap: length(8);

        .page-item {
            .page-link {
                @include font-18-13-medium;
                letter-spacing: length(0.2);
                margin: 0;
                padding: 0;
                border: 0;
                @include wh100;
                @include setBgColor($white, $paginatinonText);
                @include border(solid, 1, $grayBg);
                @include square(length(44));
                @include flex-center;
                text-align: center;
                @include radius(8);
                padding: length(8);

                @include breakpoint(phone575) {
                    @include square(length(36));
                    @include font-15-11-medium;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            &.active {
                .page-link {
                    @include setBgColor($secondary, $white);
                    border-color: $secondary;
                }
            }

            &:first-child,
            &:last-child {
                .page-link {
                    width: length(120);
                    height: length(44);
                    @include flex-center;
                    gap: length(6);
                    padding: length(8);

                    @include breakpoint(phone575) {
                        width: length(100);
                        height: length(36);
                        @include font-16-10-medium;
                        gap: length(0);
                    }

                    @include breakpoint(phone500) {
                        width: length(84);
                    }
                }
            }

            &:last-child {
                .page-link {
                    color: $primaryDark;
                }
            }

            &.disabled {
                .page-link {
                    color: $textSecondary;

                    .icon {
                        svg {
                            path {
                                fill: $textSecondary;
                            }
                        }
                    }
                }
            }
        }
    }
}