.pageloader {
    width: 100vw;
    height: 100vh;
    @include flex-center;
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    background: $white;

    .wrapper {
        @include square(length(200));
        @include flex-center;
    }

    .circle {
        position: relative;
        @include square(length(100));
        border-radius: 50%;
        animation: rotate 2.5s linear infinite;
    }

    .circle8 {
        position: absolute;
        border-radius: 50%;
    }

    .c81 {
        @include border(solid, 5, $primary);
        @include border-single(top, solid, 5, transparent);
        @include border-single(bottom, solid, 5, transparent);
        animation: 2s ease rotate2 infinite;
    }

    .c82 {
        @include square(length(80));
        @include border(solid, 5, $textWarning);
        @include border-single(top, solid, 5, transparent);
        @include border-single(bottom, solid, 5, transparent);
        animation: 2s 200ms ease rotate2 infinite;
    }

    .c83 {
        @include square(length(60));
        @include border(solid, 5, $red);
        @include border-single(top, solid, 5, transparent);
        @include border-single(bottom, solid, 5, transparent);
        animation: 2s 500ms ease rotate2 infinite;
    }

    .c84 {
        @include square(length(40));
        @include border(solid, 5, $gold);
        @include border-single(top, solid, 5, transparent);
        @include border-single(bottom, solid, 5, transparent);
        animation: 2s 1s ease rotate2 infinite;
    }

    .c85 {
        @include square(length(20));
        @include border(solid, 5, $secondary);
    }
}

@keyframes rotate {
    to {
        @include transform(rotate(360deg));
    }
}

@keyframes rotate2 {

    0%,
    100% {
        @include transform(rotate(0deg));
    }

    50% {
        @include transform(rotate(360deg));
    }
}